OPENROUTER_API_KEY=
OPENROUTER_MODEL=meta-llama/llama-3.1-8b-instruct:free
EXA_API_KEY=
TAVILY_API_KEY=
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_CHANNEL_ID=
SLACK_TEST_CHANNEL_ID=
CRON_SECRET=
CUSTOM_MESSAGE_TOKEN=
